# Bash prompt and colors
export force_color_prompt=yes

{% if ansible_distribution == 'Debian' %}
export PS1="\[$(tput setaf 5)\]\u\[$(tput setaf 5)\]@\[$(tput setaf 5)\]\H:\[$(tput setaf 5)\]\w \[$(tput sgr0)\]# "
{% elif ansible_distribution == 'Ubuntu' %}
export PS1="\[$(tput setaf 2)\]\u\[$(tput setaf 2)\]@\[$(tput setaf 2)\]\H:\[$(tput setaf 2)\]\w \[$(tput sgr0)\]# "
{% endif %}
